{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}

    
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
</head>

        <div class="flex-grow p-4">
            <h1 class="text-4xl font-bold mb-8"></h1>
            <div class="content">
                
                {% include 'dashboard.html' %}
                
            </div>
        </div>
    </div>
<!-- Alert JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
    {% for flashmsg in messages %}
        alertify.set('notifier','position', 'top-right');
        {% if 'error' in flashmsg.tags %}
            alertify.error('{{ flashmsg }}');
        {% elif 'success' in flashmsg.tags %}
            alertify.success('{{ flashmsg }}');
        {% else %}
            alertify.message('{{ flashmsg }}');
        {% endif %}
    {% endfor %}
</script>

</body>
</html> 