{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
</head>

<body class="bg-gray-100 min-h-screen">
    <div class="flex">
        <div class="w-64 bg-white p-4">
            {% include 'navbar.html' %}
        </div>

        
        <div class="flex-grow bg-slate-50 p-4">
            <h1 class="text-4xl font-bold mb-8"></h1>
            <div class="content">
                {% include 'dashboard.html' %}
            </div>
        </div>
    </div>

</body>
</html> 