
{% extends 'home.html' %}
{% load static tailwind_tags %}
{% tailwind_css %}
{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<div class="flex min-h-full flex-col justify-center px-6 py-12 border shadow-lg lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="flex items-center p-2  text-gray-900 rounded-lg ">
            <i class="fas fa-dumbbell text-orange-500 mr-5"></i>
            <span class="text-orange-500 font-bold">Sweat & Strength</span>
          </div>
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
        <div>
          
          <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username</label>
          <div class="mt-2">
            <input type="text" id="username" name="username"  required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
            

          </div>
          <div class="mt-2">
            <input type="password" id="password" name="password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <a href="{% url 'password_reset' %}" class="text-sm text-blue-500 ">Forgot password?</a>
          </div>
        </div>
  
        <div class="mt-4">
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign in</button>
        </div>
      </form>
      <p class="mt-4 text-sm text-gray-600">Don't have an account? <a href="{% url 'signup' %}"
        class="text-blue-500">Signup here</a></p>
  
    </div>
  </div>

    {% comment %} <div class="bg-white p-8 rounded shadow-md w-96">
        <h1 class="text-2xl font-semibold mb-4">Login</h1>


        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-4">

                <label for="username" class="block text-sm font-medium text-gray-600">Username:</label>
                <input type="text" id="username" name="username" class="mt-1 p-2 w-full border rounded-md">
            </div>

            <div class="mb-4">
                <label for="password" class="block text-sm font-medium text-gray-600">Password:</label>
                <input type="password" id="password" name="password" class="mt-1 p-2 w-full border rounded-md">
            </div>
            

            <button type="submit"
                class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                Login
            </button>
        </form>

        <p class="mt-4 text-sm text-gray-600">Don't have an account? <a href="{% url 'signup' %}"
                class="text-blue-500">Signup here</a></p>
    </div> {% endcomment %}
{% endblock %}





