{% load static tailwind_tags %}
{% tailwind_css %}
{% block content %}
  <div class="container mx-auto mt-8">
    <div class="max-w-md mx-auto">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <h2 class="text-2xl font-bold mb-4">Password Reset</h2>
        <p class="text-sm text-gray-600 mb-6">Enter the email address associated with your account to receive instructions on how to reset your password.</p>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="bg-blue-500 mt-7 text-white font-bold py-2 px-4 rounded">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}