
{% load static tailwind_tags %}
{% tailwind_css %}

{% include 'topnav.html' %}


<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

    <div class="ml-[18rem]">
        <div class="mt-16 p-4 ">
        </div>

        <div class="flex justify-between relative">
            <div id="profileSection">

                <form action="{% url 'profile' %}" method="POST" class="space-y-4 flex flex-col" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="flex-col space-y-4">
                        <div class="flex justify-start">
                            <div>
                                <img id="profilePicturePreview" src="{{ profile_picture_url }}" alt="Profile Picture" class="w-36 h-36 rounded-full mx-auto">
                            </div>
                            <div class="flex-col ml-10 items-center mb-10">
                                <h1 class="text-2xl font-bold my-5">Profile</h1>
                                <div class="my-9">
                                    <input type="file" id="profilePictureInput" name="profile_picture" class="hidden">
                                    <label for="profilePictureInput" class="flex justify-center py-2 px-4 text-sm font-medium rounded-md text-white bg-blue-600 cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Change Profile Picture</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="flex space-x-8 ml-12 ">
                            <div class="w-80">
                                <label for="first_name" class="block text-sm font-medium text-gray-700">First Name</label>
                                <input type="text" id="first_name" name="first_name" value="{{ user.username }}" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                            <div class="w-80">
                                <label for="last_name" class="block text-sm font-medium text-gray-700">Last Name</label>
                                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                            </div>
                        </div>
                    </div>
                    <div class="flex space-x-9">
                        <div class="w-80 ml-12">
                            <label for="email" class="block text-sm font-medium text-gray-700">Email Address</label>
                            <input type="email" id="email" name="email" value="{{ user.email }}" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                        </div>
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700">Subscription</label>
                            <a href="{% url 'subscription' %}" class="inline-flex items-center justify-center mt-1 w-full py-2 px-28 border border-transparent shadow-sm text-sm font-medium rounded-md bg-zinc-300 text-blue-600 hover:bg-blue-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                <span class="mr-2">Go Premium</span>
                                <svg class="h-5 w-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="w-80 ml-12">
                        <label for="phone_number" class="block text-sm font-medium text-gray-700">Account Type</label>
                        {% if user.subscription_plan %}
                            {% if user.subscription_plan.paid %}
                                <input type="text" id="phone_number" name="phone_number" value="Paid" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" readonly>
                            {% else %}
                                <input type="text" id="phone_number" name="phone_number" value="Free" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" readonly>
                            {% endif %}
                        {% else %}
                            <input type="text" id="phone_number" name="phone_number" value="Free" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" readonly>
                        {% endif %}
                    </div>
                    
                    
                
                    <div class="flex justify-end">
                        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Save</button>
                    </div>
                    
                </form>
            </div> 
            <div class="mr-6 absolute left-[64%]">
                <button id="profileBtn" class="w-full py-2 px-4 mb-2 bg-blue-600 text-white font-semibold rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">Profile</button>
                <button id="accountBtn" class="w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">Account</button>
            </div>
        

        <div id="accountSection" style="display:none;">
            <div class="mt-8">
                <h2 class="text-lg font-bold mb-4">Create Password</h2>
                <form action="{% url 'create_password' %}" method="POST" class="space-y-4">
                    {% csrf_token %}
                    <div>
                        <label for="new_password" class="block text-sm font-medium text-gray-700">New Password</label>
                        <input type="password" id="new_password" name="new_password" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <div>
                        <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                    </div>
                    <div>
                        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            Create Password
                        </button>
                    </div>
                </form>
            </div>
            <div class="mt-8">
                <h2 class="text-lg font-bold ">Delete Account</h2>
                <p class="text-sm text-gray-700 mb-4">No longer want to use our service? You can delete your account here. This action is not reversible. All information related to this account will be deleted permanently.</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    <a type="submit" href="{% url 'delete_account' %}" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">Yes, delete my account</a>
                </form>
            </div>
        </div>
    </div>
</div>

</div>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
    {% for flashmsg in messages %}
        alertify.set('notifier','position', 'top-right');
        alertify.success('{{flashmsg}}');
    {% endfor %}
</script>

<script>
    document.getElementById("profilePictureInput").addEventListener("change", function() {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function() {
                document.getElementById("profilePicturePreview").setAttribute("src", reader.result);
            }
            reader.readAsDataURL(file);
        }
    });
</script>
<script>
    document.getElementById("profileBtn").addEventListener("click", function() {
        document.getElementById("profileSection").style.display = "block";
        document.getElementById("accountSection").style.display = "none";
    });

    document.getElementById("accountBtn").addEventListener("click", function() {
        document.getElementById("profileSection").style.display = "none";
        document.getElementById("accountSection").style.display = "block";
    });
</script>