{% load static %} 
{% load tailwind_tags %} 
{% tailwind_css %} 
{% include 'topnav.html' %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

<div class="mt-16 flex flex-col md:flex-row">
  <div class="md:w-64">
  </div>
  {% for message in messages %}
    {% endfor %}
  <div class="flex-1 p-5">
    <div class="w-full md:w-[64%] h-[32%] md:h-[50%] rounded-xl">
      <img
        class="object-cover rounded-xl w-full h-full"
        src="{% static 'assets/img/one.png' %}"
        alt="Image"
      />
    </div>
  </div>
  x
</div>
  
</div>
        <!-- Alert JavaScript -->
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script>
            {% for flashmsg in messages %}
                alertify.set('notifier','position', 'top-right');
                alertify.success('{{flashmsg}}');
            {% endfor %}
        </script>