{% load static %}
{% block topnav %}

<div class="flex">
    <div class="w-64 bg-white p-4">
        {% include 'navbar.html' %}
    </div>

    <nav class="topnav fixed top-0 left-64 right-0 bg-white border-b border-gray-200 px-4 py-3 flex items-center justify-between flex-grow">
        <div class="flex items-center">
            <span class="text-gray-900 pr-3" id="greeting"></span>
        </div>

        <div class="flex-grow flex justify-center">
            <input type="text" placeholder="Search..." class="border border-gray-300 px-3 py-2 rounded-lg w-full max-w-md focus:outline-none focus:ring focus:border-blue-400">
        </div>

        <div class="flex items-center space-x-4">
            <a href="#" class="text-gray-900 hover:text-blue-500 px-3 py-2">Profile</a>
        </div>
    </nav>
</div>

<script>
    // Get current hour
    var currentHour = new Date().getHours();

    // Determine the time-based greeting
    var timeGreeting = '';
    if (currentHour >= 5 && currentHour < 12) {
        timeGreeting = '<span style="font-size: smaller;">Good Morning</span>';
    } else if (currentHour >= 12 && currentHour < 18) {
        timeGreeting = '<span style="font-size: smaller;">Good Afternoon</span>';
    } else {
        timeGreeting = '<span style="font-size: smaller;">Good Evening</span>';
    }

    // Determine the user-based greeting
    var userAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
    var username = "{{ user.username }}";
    var capitalizedUsername = username.charAt(0).toUpperCase() + username.slice(1); // Capitalizing the first letter
    var userGreeting = userAuthenticated ? '<strong>Welcome back,</strong> ' + capitalizedUsername : 'Welcome';

    // Combine the time-based greeting and the user-based greeting with a line break
    var fullGreeting = timeGreeting + '<br>' + userGreeting;

    // Set the greeting in the HTML
    document.getElementById('greeting').innerHTML = fullGreeting;
</script>

{% endblock %}
