{% load static tailwind_tags %}
{% tailwind_css %}
{% block topnav %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<div class="flex">
      <nav class="topnav w-full mb-20 fixed top-0 right-0 bg-white border-b border-gray-200 px-4 py-2 h-16 flex items-center justify-between ">
        <!-- Hamburger menu button -->
        <button class="md:hidden text-gray-900 hover:text-blue-500 focus:outline-none" id="menuBtn">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>

        <div class="flex items-center">
          <span class="text-gray-900 ml-64" id="greeting"></span>
        </div>
        {% comment %} <div class="flex justify-center items-center">
          <form id="searchForm" class="flex" method="GET" action="{% url 'search_results' %}"> 
          <input id="searchInput" type="search" name="q" placeholder="What would you like to search" class="bg-white bg-opacity-75 h-12 px-6 rounded-full text-sm w-96  focus:outline-none border border-gray-300 text-gray-800 placeholder-gray-800 shadow-md">
        </div> {% endcomment %}

        <div class="flex items-center space-x-4 relative">
          <div> 
            <img src="{{ profile_picture_url }}" alt="Profile Picture" class=" w-10 h-10 rounded-full mx-auto "id="profilebtn">
        </div>
            <div
              id="profileDropdown"
              class="hidden absolute right-0 mt-36 w-48 bg-white rounded-md shadow-lg "
            >
              {% if user.is_authenticated %}
              <a
                href="{% url 'profile' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Profile</a
              >
              <a
              href="{% url 'contact_us' %}"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 "
              >Contact Us</a
            >
              <a
                href="{% url 'logout' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Sign out</a
              >
              {% else %}
              <a
                href="{% url 'login' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Login</a
              >
              <a
                href="{% url 'signup' %}"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                >Signup</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- Left Navbar -->
  <nav class="navbar hidden md:block  fixed top-0 left-0 h-screen md:w-64 bg-white border-r border-gray-200 p-4">
    <ul class="space-y-4">
      <li>
        <a href="{% url 'splash' %}" class="flex items-center p-2 text-gray-900 rounded-lg ">
          <i class="fas fa-dumbbell text-orange-500 mr-5"></i>
          <span class="text-orange-500 font-bold">Sweat & Strength</span>
        </a>
        <hr class="my-3 border-t border-gray-200"> 
      </li>
      {% if not request.user.is_staff%}
      <li>
        <a href="{% url 'splash'%}" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-orange-500">
          <i class="fas fa-home text-gray-600 mr-5"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="{% url 'base' %}" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-orange-500">
          <i class="fas fa-dumbbell text-gray-600 mr-4"></i>
          <span>Workouts</span>
        </a> 
      </li>
      <li>
        <a href="{% url 'subscription' %}" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-orange-500">
          <i class="fas fa-credit-card text-gray-600 mr-5"></i>
          <span>Subscription</span>
        </a>
      </li>
      <li>
        <a href="{% url 'track_calories' %}" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-orange-500">
          <i class="fas fa-fire text-gray-600 mr-5"></i>
          <span>Calorie</span>
        </a>
      </li>

      {% endif %}
      {% if request.user.is_staff %}
      <li>
        <a href="{% url 'trainer_page' %}" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-orange-500">
          <i class="fas fa-user text-gray-600 mr-5"></i>
          <span>Trainer</span>
        </a>
      </li>
      <li>
        <a href="{% url 'track_calories' %}" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-orange-500">
          <i class="fas fa-fire text-gray-600 mr-5"></i>
          <span>Calorie</span>
        </a>
      </li>
      {% endif %}

      <li>
        <a href="{% url 'profile' %}" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-orange-500">
          <i class="fas fa-cog text-gray-600 mr-5"></i>
          <span>Settings</span>
        </a>
      </li>

    {% if user.is_authenticated %}
    <div class="fixed bottom-0 w-64 left-0 p-4">
        <hr class="my-3 border-t border-gray-200"> 
        <a href="{% url 'logout' %}" class="flex items-center p-2 text-gray-900 rounded-lg hover:bg-orange-500">
            <i class="fas fa-sign-out-alt text-gray-600 mr-5"></i>
            <span>Logout</span>
        </a> 
    </div>
    {% endif %}
    </ul>
  </nav>
</div>


    <script>
      // Get current hour
      var currentHour = new Date().getHours();

      // Determine the time-based greeting
      var timeGreeting = '';
      if (currentHour >= 5 && currentHour < 12) {
          timeGreeting = '<span style="font-size: smaller;">Good Morning</span>';
      } else if (currentHour >= 12 && currentHour < 18) {
          timeGreeting = '<span style="font-size: smaller;">Good Afternoon</span>';
      } else {
          timeGreeting = '<span style="font-size: smaller;">Good Evening</span>';
      }

      // Determine the user-based greeting
      var userAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
      var username = "{{ user.username }}";
      var capitalizedUsername = username.charAt(0).toUpperCase() + username.slice(1); // Capitalizing the first letter
      var userGreeting = userAuthenticated ? '<strong>Welcome back,</strong> ' + capitalizedUsername : '<strong>Welcome</strong> ';

      // Combine the time-based greeting and the user-based greeting with a line break
      var fullGreeting = timeGreeting + '<br>' + userGreeting;

      // Set the greeting in the HTML
      document.getElementById('greeting').innerHTML = fullGreeting;

      // Toggle dropdown menu
      document.getElementById('profilebtn').addEventListener('click', function() {
          var dropdown = document.getElementById('profileDropdown');
          dropdown.classList.toggle('hidden');
      });

      document.getElementById('menuBtn').addEventListener('click', function() {
        console.log('Menu button clicked');
        var nav = document.querySelector('nav.navbar');
        if (nav) {
            console.log('Nav element found:', nav);
            nav.classList.toggle('open');
            console.log('Nav class toggled:', nav.classList.contains('open'));
        } else {
            console.error("Navbar element not found.");
        }
    });
    
      // Close dropdown when clicking outside of it
      window.addEventListener('click', function(event) {
          var dropdown = document.getElementById('profileDropdown');
          var profileBtn = document.getElementById('profilebtn');
          if (!profileBtn.contains(event.target) && !dropdown.contains(event.target)) {
              dropdown.classList.add('hidden');
          }
      });
    </script>

  </div>
</div>

{% endblock %}
