{% load static tailwind_tags %}
{% tailwind_css %}

{% include 'topnav.html' %}

<div class="flex">
    <div class="w-64 bg-white">

    </div>

    <div class="ml-64">
        <div class="mt-16 ml-16">
            <h1>Track Calories</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>

            <h2>Calorie Tracking Entries:</h2>
            <ul>
                {% for entry in calorie_entries %}
                    <li>{{ entry.date }} - {{ entry.calories_consumed }} calories</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
