{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}
{% include 'topnav.html' %}

{% block trainer %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

<div class="mt-16 flex flex-col md:flex-row justify-between">
    <div class="md:w-64"></div>
    {% for message in messages %} {% endfor %}
    <div class="flex-1 p-5">
        <div class="w-full md:w-[120%] h-[24%] md:h-[45%] rounded-xl">
            <img class="object-cover rounded-xl w-full h-full" src="{% static 'assets/img/one.png' %}" alt="Image"/>
        </div>
        <div class="flex space-x-3 w-full md:w-[120%]">

           
        </div>
    </div>
    <div class="flex-1 p-5">
      <div class="w-full md:w-[80%] mt-5 bg-purple-300 rounded-lg shadow-md p-6 float-right">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-bold">Notifications</h2>

        </div>
        <ul class="list-disc pl-4">
            {% if transactions %}
            <div class="notification">

                {% for transaction in transactions %}
                <p>You are booked for {{ transaction.subscription_plan.name }} by {{ transaction.user.username }}</p>
                <!-- Add more transaction details as needed -->
                {% endfor %}
            </div>
            {% else %}
            <div class="notification">
                <h2>No bookings found</h2>
                <p>You are currently not booked by any user.</p>
            </div>
            {% endif %}
            
        </ul>
    </div>
    <div class="w-full md:w-[80%] mt-5 bg-blue-300 rounded-lg shadow-md p-6 float-right">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-bold">Total Income </h2>
        </div>
        <p class="text-xl font-semibold">Total Income: ${{ total_income }}</p>
    </div>
    
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script>
    {% for flashmsg in messages %}
    alertify.set('notifier', 'position', 'top-right');
    alertify.success('{{ flashmsg }}');
    {% endfor %}
</script>
{% endblock %}
