{% load static tailwind_tags %}
{% tailwind_css %}
{% block workout_detail %}

{% include 'topnav.html' %}


<div class="flex">

    <div class="w-64 bg-white ">
        {% include 'navbar.html' %}
    </div>

    <div class="p-14 flex-grow border">
        <div class="border h-[70%] rounded-lg flex  space-x-2">
            <video controls class="w-[70%] object-cover rounded-lg">  
                <source src="{{ workout.video.url }}" type="video/mp4">
            </video>

            <div class="border w-[30%] overflow-x-auto">
                <div class="border py-2 px-2 space-y-1">
                    <div>Image</div>
                    <div>Title</div>
                    <div>Time</div>
                </div>
                <div class="border py-2 px-2 space-y-1">
                  <div>Image</div>
                  <div>Title</div>
                  <div>Time</div>
              </div>
              <div class="border py-2 px-2 space-y-1">
                <div>Image</div>
                <div>Title</div>
                <div>Time</div>
            </div>
            <div class="border py-2 px-2 space-y-1">
              <div>Image</div>
              <div>Title</div>
              <div>Time</div>
          </div>
          <div class="border py-2 px-2 space-y-1">
            <div>Image</div>
            <div>Title</div>
            <div>Time</div>
        </div>
        <div class="border py-2 px-2 space-y-1">
          <div>Image</div>
          <div>Title</div>
          <div>Time</div>
      </div>

            </div>
        </div>


        <div class="text-xl font-bold mt-4">{{ workout.title }}</div>
    </div>
</div> 



{% endblock %}